/CustomWeaponBase/bin/
*.dll
.idea/.idea.CustomWeaponBase/.idea/.name
.idea/.idea.CustomWeaponBase/.idea/deployment.xml
.idea/.idea.CustomWeaponBase/.idea/discord.xml
.idea/.idea.CustomWeaponBase/.idea/encodings.xml
.idea/.idea.CustomWeaponBase/.idea/indexLayout.xml
.idea/.idea.CustomWeaponBase/.idea/projectSettingsUpdater.xml
.idea/.idea.CustomWeaponBase/.idea/riderMarkupCache.xml
.idea/.idea.CustomWeaponBase/.idea/vcs.xml
.idea/.idea.CustomWeaponBase/.idea/workspace.xml
Builds/Custom Weapon Base.zip
Builds/CustomWeaponBase.dll
Builds/info.json
Builds/node.splooge
Builds/StreamingAssets/borisarmory.cwb
Builds/StreamingAssets/csatests.csu
Builds/StreamingAssets/csatests.csu.manifest
Builds/StreamingAssets/dankudynamics.cwb
Builds/StreamingAssets/dankudynamics.cwb.manifest
Builds/StreamingAssets/node.splooge
Builds/StreamingAssets/node.splooge.manifest
Builds/StreamingAssets/notbdarmory.cwb
Builds/StreamingAssets/notbdarmory.cwb.manifest
Builds/StreamingAssets/settings.splooge
Builds
CustomWeaponBase.sln.DotSettings.user
CustomWeaponBase/bin
CustomWeaponBase/obj
CustomWeaponBase/CustomWeaponBase.csproj
CustomWeaponBase/Main.cs
Dependencies/
